@font-face {
  font-family: Alata;
  src: url(../fonts/Alata-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: Raleway-Medium;
  src: url(../fonts/Raleway-Medium.ttf);
}

body {
  font-family: Raleway;
  padding: 0;
  margin: 0;
}

.main-header {
  text-align: center;
  position: relative;
}

.main-header .main-title {
  color: white;
  font-size: 5vw;
  letter-spacing: 1px;
  font-weight: bold;
  white-space: nowrap;
  left: 12%;
  position: absolute;
  bottom: 1%;
  font-family: Alata;
}

.secondary-header {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: Alata;
}

#intro {
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 20px;
}

#intro-bar {
  position: absolute;
  left: 2%;
  width: 96%;
  height: 1px;
  background-color: #818181;
}

.content, #intro {
  padding-left: 15px;
  padding-right: 15px;
  font-family: Raleway;
}

.question {
  font-family: Raleway-Medium;
}

.main-photo {
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-photo#one {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(47, 31, 89, .4)
    ),
    url('../img/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-photo#two {
  background-image: url('../img/two.jpg');
}

.main-photo#three {
  background-image: url('../img/three.jpg');
}

.main-photo#four {
  background-image: url('../img/four.jpg');
}

.main-photo#five {
  background-image: url('../img/five.jpg');
}

#venue, #rsvp, #registry, #party {
  text-align: center;
}

#venue-map {
  width: 80%;
}

.party-pics ul {
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
  padding: 0;
  margin: 0;
}

.party-pics li {
  display: inline;
  padding: 2%;
}

.headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.headshot-wrapper:hover img {
  opacity: .4;
}

.headshot-wrapper {
  position: relative;
}

.headshot-wrapper p {
  bottom: 80px;
  position: absolute;
  font-size: 30px;
  visibility: hidden;
  font-family: Alata;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: grey;
}

.headshot-wrapper:hover p {
  visibility: visible;
  opacity: 1;
}

#will {
  left: 41px;
}

#jae {
  left: 92px;
}

#andrew {
  left: 42px;
}

#adrian {
  left: 50px;
}

#alex {
  left: 78px;
}

#hannah {
  left: 45px;
}

#katie {
  left: 70px;
}

#tiff {
  left: 45px;
}

#kara {
  left: 78px;
}

#joanne {
  left: 48px;
}

#registry {
  padding-bottom: 50px;
}