@font-face {
  font-family: Alata;
  src: url(../fonts/Alata-Regular.ttf);
}

body {
  font-family: Alata;
  padding: 0;
  margin: 0;
}

.main-header {
  text-align: center;
  position: relative;
}

.main-header .main-title {
  color: white;
  font-size: 5vw;
  letter-spacing: 1px;
  font-weight: bold;
  white-space: nowrap;
  left: 12%;
  position: absolute;
  bottom: 1%;
}

.secondary-header {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center
}

.content {
  padding-left: 5px;
  padding-right: 5px;
}

.main-photo {
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-photo#one {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(47, 31, 89, .3)
    ),
    url('../img/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-photo#two {
  background-image: url('../img/two.jpg');
}

.main-photo#three {
  background-image: url('../img/three.jpg');
}

.main-photo#four {
  background-image: url('../img/four.jpg');
}

