@media (min-width: 1124px) {
  #nav-wrapper-desktop {
    height: 76px;
    display: all;
  }

  #nav-wrapper-mobile {
    display: none;
  }

  #nav-bar {
    width: 100%;
    height: 76px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ebe5d8;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-link {
    position: relative;
    top: -76px;
  }

  #nav-icon {
    width: 70px;
    float: left;
    position: absolute;
    left: 2px;
    top: 2px;
    opacity: .8;
  }

  #nav-bar li {
    padding: 1%;
    display: inline;
  }

  #nav-bar li a {
    text-decoration: none;
    font-size: 3vh;
    color: #818181;
    transition: 0.3s;
    font-family: Raleway-Medium;
  }

  #nav-bar a:hover {
    color: #f1f1f1;
  }

  #nav-date {
    position: absolute;
    top: 0;
    left: 80px;
    padding-top: 35px;
    font-family: Raleway;
  }

  #nav-location, #nav-hashtag {
    position: absolute;
    top: 0;
    right: 60px;
    padding-top: 20px;
    font-family: Raleway;
  }

  #nav-hashtag {
    padding-top: 40px;
  }
}