@font-face {
  font-family: Alata;
  src: url(fonts/Alata-Regular.ttf);
}

body {
  font-family: Alata;
  margin: 0;
}

.main-header {
  text-align: center;
}

.main-header .main-title {
  color: #fff;
  font-size: 5vw;
  letter-spacing: 1px;
  font-weight: bold;
  white-space: nowrap;
}

.secondary-header {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center
}

.content {
  padding-left: 5px;
}

.love {
  min-height: 500px;
}

.love#one {
  background:
    linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, .3),
      rgba(0, 0, 0, 0)
    ),
    url("img/main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.love#two {
  background-image: url("img/two.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.love#three {
  background-image: url("img/three.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.love#four {
  background-image: url("img/four.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
