@font-face {
  font-family: Alata;
  src: url(fonts/Alata-Regular.ttf);
}

body {
  font-family: Alata;
  margin: 0;
}

.main-header {
  position: absolute;
  left: 17%;
  top: 58%;
}

.main-header .main-title {
  color: #fff;
  font-size: 65px;
  letter-spacing: 1px;
  font-weight: 900;
}

.secondary-header {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  color: #111;
  text-align:center
}

.card {
  height: 150px;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.content {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.love {
  min-height: 500px;
}

.love#one {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, .3),
      rgba(0, 0, 0, 1)
    ),
    url("img/main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.love#two {
  background-image: url("img/two.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.love#three {
  background-image: url("img/three.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.love#four {
  background-image: url("img/four.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
